.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Arial Narrow', sans-serif;
}

.text-container {
    flex-grow: 1;
    font-size: 1.5rem;
    font-family: 'Arial Narrow', sans-serif;
    align-items: center;
    text-align: center;
}

.metric-box {
    flex: 0 0 45%;
    margin: 2%;
    padding: 1%;
    border: 1px solid #090909;
    border-radius: 4px;
    background-color: rgba(74, 2, 2, 0.3);
    text-align: center;
}

.metric-box h4 {
    margin: 0 0 0.5rem 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.metric-box p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fffb09;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}


.subheader-lote {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
    color: #f8ef00;
    text-align: center;
}

.subheader-mtrcs {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
    color: #f8ef00;
    text-align: center;
}

.metric-card {
    border: 1px solid #090909;
    border-radius: 4px;
    background-color: #440505;
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
}

.metric-card h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-align: center;
    


}

.metric-card p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fffb09;
    text-align: center;
}

.lote-card {
    border: 1px solid #090909;
    border-radius: 4px;
    background-color: #440505;
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
}

.lote-card h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.lote-card p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fffb09;
    text-align: center;
}

.horizontal-line {
    border-top: 1px solid #090909;
    margin: 1rem 0;
    text-align: center;
    color: #000;
}

.metric-subtitle{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Arial Narrow', sans-serif;
    text-align: left;
    
}

/* styles.css */
.custom-subheader {
    font-size: 1.5rem;
    color: #4CAF50;
    font-weight: bold;
    font-family: 'Arial Narrow', sans-serif;
}

.custom-disciplina {
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'Arial Narrow', sans-serif;
    
}

.custom-quantidade {
    font-size: 1.7rem;
    font-weight: normal;
    font-family: 'Arial Narrow', sans-serif;
    font-weight: bold;
    
}
